.body,html{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.card{
    width: 250px;
    height: 300px;
    background-color: rgba(0, 170, 255, 0.767);
    box-shadow: inset 10px 20px 20px rgb(255, 255, 254,0.5),
                      10px 20px 20px rgb(0, 0, 11,0.5);
    align-items: center;
    text-align: center;
}
.card:hover{
    background-color: rgba(124, 179, 224, 0.907);
    box-shadow: inset 10px 20px 20px rgb(255, 255, 254,0.5),
                      10px 20px 20px rgb(0, 0, 11,0.5);
    transform: translate(-10px,-10px);
    transition: 0.5s ease;
}
.card p{
    position: relative;
    left: 5px;
    color: rgb(26, 82, 161);
    text-shadow: 5px 5px 1px rgba(19, 19, 19, 0.5);
    font-size: large;
}
.card::before{
    content: "雨一直下";
    color: rgb(17, 93, 187);
    background-color: aliceblue;
    border-radius: 10px;
}